<div class="container">
  <div class="chat-header">
    <h2>Chat</h2>
    <button class="logout-btn" (click)="logout()">Logout</button>
  </div>
  <div class="chat-messages" #scrollContainer>
    <div
      *ngFor="let message of messages"
      [ngClass]="{
        'message-container-right': message.senderId === userId,
        'message-container-left': message.senderId !== userId
      }"
    >
      <img [src]="getUserAvatar(message.senderId)" class="avatar" />
      <div
        class="message"
        [ngClass]="{
          'message-right': message.senderId === userId,
          'message-left': message.senderId !== userId
        }"
      >
        <span class="message-content">{{ message.text }}</span>
        <span class="message-time">{{
          formatTime(message.messageCreatedAt)
        }}</span>
      </div>
    </div>
  </div>
  <div class="chat-input">
    <input
      [(ngModel)]="message"
      (keyup.enter)="sendMessage()"
      placeholder="Type a message..."
      class="message-input"
    />
    <button class="send-btn" (click)="sendMessage()">Send</button>
  </div>
</div>
