<nav class="navbar">
  <div class="chat-design" *ngIf="isLoggedIn()">
    <div class="avatar-wrapper">
      <img src="../../assets/self.jpg" class="avatar" alt="User Avatar" />
      <span class="username">{{ name }}</span>
    </div>
  </div>
  <div class="nav-links">
    <a routerLink="/login" routerLinkActive="active">Login</a>
    <a routerLink="/register" routerLinkActive="active">Register</a>
    <a routerLink="/chat" routerLinkActive="active" *ngIf="isLoggedIn()"
      >Chat</a
    >
    <a routerLink="/users" routerLinkActive="active" *ngIf="isLoggedIn()"
      >Users</a
    >
    <a (click)="logout()" *ngIf="isLoggedIn()">Logout</a>
  </div>
</nav>

<router-outlet></router-outlet>
