.container {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #333;
}

.message-requests,
.users-list {
  margin-bottom: 30px;
}

.request-item,
.user-item {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  border-bottom: 1px solid #e0e0e0;
  transition: background-color 0.3s;

  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

  background: white;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
}

.request-item:hover,
.user-item:hover {
  background-color: #fafafa;
}

.request-info,
.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

.request-username,
.username {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.last-message {
  font-size: 16px;
  color: #000000;
  font-weight: 600;
  text-transform: capitalize;
}

.request-actions,
.user-actions {
  display: flex;
  justify-content: flex-end;
}

.status {
  width: 12px;
  height: 12px;
  margin-left: 10px;
  border-radius: 50%;
}

.online {
  background-color: #4caf50;
  position: absolute;
  top: 28px;
  left: 20px;
}

.offline {
  background-color: #f44336;
  position: absolute;
  top: 28px;
  left: 20px;
}

.send-request-button,
.accept-button,
.decline-button,
.chat-button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-left: 10px;
}

.send-request-button:hover,
.accept-button:hover,
.decline-button:hover,
.chat-button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.accept-button {
  background-color: #28a745;
}

.accept-button:hover {
  background-color: #218838;
}

.decline-button {
  background-color: #dc3545;
}

.decline-button:hover {
  background-color: #c82333;
}

.user-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #666;
}

.unread-count {
  font-weight: bold;
  color: #000;
}

.chat-messages {
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
  background: #f9f9f9;
  max-height: 400px;
}

.message-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  gap: 18px;
}

.message-container.self {
  flex-direction: row-reverse;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.chat-messages .message {
  max-width: 70%;
  padding: 0.75rem 1rem;
  border-radius: 20px;
  background: #dcf8c6;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.chat-messages .self .message {
  background: #dcf8c6;
}

.chat-design {
  display: flex;
  align-items: center;
  gap: 22px;
}
