body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 20px;
  color: #4a4a4a;
  text-align: center;
}

.message-requests,
.users-list {
  margin-bottom: 20px;
}

.request-item,
.user-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.request-content,
.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.request-info,
.user-meta {
  display: flex;
  flex-direction: column;
}

.request-username,
.username {
  font-weight: bold;
  color: #333;
}

.last-message {
  font-weight: bolder;
  font-size: 14px;
  color: rgb(53, 53, 53);
  padding: 0 10px;
}

.request-actions,
.user-actions {
  display: flex;
  gap: 10px;
}

.accept-button,
.decline-button,
.send-request-button,
.chat-button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s;
}

.accept-button {
  background: #4caf50;
  color: white;
}

.accept-button:hover {
  background: #45a049;
}

.decline-button {
  background: #f44336;
  color: white;
}

.decline-button:hover {
  background: #e53935;
}

.send-request-button {
  background: #6e8efb;
  color: white;
}

.send-request-button:hover {
  background: #5a78d8;
}

.chat-button {
  background: #009688;
  color: white;
}

.chat-button:hover {
  background: #00796b;
}

.avatar-wrapper {
  display: flex;
  align-items: center;

  position: relative;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.unread-count {
  background: #ff5722;
  color: white;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 12px;
  margin-left: -10px;

  position: absolute;
  top: 0;
  left: 36px;
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 10px;
}

.online {
  background: #4caf50;
}

.offline {
  background: #f44336;
}

.wrapper-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.user-meta {
  margin-left: 10px;
}
