<div class="chat-container">
    <div class="user-list">
        <h3>Users</h3>
        <ul>
            <li *ngFor="let user of users" [class.online]="user.online" (click)="selectUser(user)">
                {{ user.username }}
                <span class="status" [class.online]="user.online"></span>
            </li>
        </ul>
    </div>
    <div class="chat-box">
        <div class="messages">
            <div *ngFor="let message of messages" class="message" [class.sent]="message.senderId === currentUser.id"
                [class.received]="message.senderId !== currentUser.id">
                <span>{{ message.content }}</span>
                <span *ngIf="message.read" class="read-indicator">Read</span>
            </div>
        </div>
        <div class="message-input">
            <input [(ngModel)]="messageContent" placeholder="Type a message..." />
            <button (click)="sendMessage()">Send</button>
        </div>
    </div>
</div>